<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.estimate.Mapper.ZzTm050Mapper">
  <resultMap id="BaseResultMap" type="com.we.estimate.Entity.ZzTm050">
    <!--@mbg.generated-->
    <!--@Table ZZ_TM050-->
    <id column="ID_SYSTEM" jdbcType="VARCHAR" property="idSystem" />
    <id column="CD_KBN" jdbcType="VARCHAR" property="cdKbn" />
    <id column="KB" jdbcType="VARCHAR" property="kb" />
    <result column="TD_INSERT" jdbcType="TIMESTAMP" property="tdInsert" />
    <result column="ID_USER_I" jdbcType="VARCHAR" property="idUserI" />
    <result column="ID_COMPUTER_I" jdbcType="VARCHAR" property="idComputerI" />
    <result column="ID_PG_I" jdbcType="VARCHAR" property="idPgI" />
    <result column="TD_UPDATE" jdbcType="TIMESTAMP" property="tdUpdate" />
    <result column="ID_USER_U" jdbcType="VARCHAR" property="idUserU" />
    <result column="ID_COMPUTER_U" jdbcType="VARCHAR" property="idComputerU" />
    <result column="ID_PG_U" jdbcType="VARCHAR" property="idPgU" />
    <result column="TD_DELETE" jdbcType="TIMESTAMP" property="tdDelete" />
    <result column="ID_USER_D" jdbcType="VARCHAR" property="idUserD" />
    <result column="ID_COMPUTER_D" jdbcType="VARCHAR" property="idComputerD" />
    <result column="ID_PG_D" jdbcType="VARCHAR" property="idPgD" />
    <result column="FG_DELETE" jdbcType="DECIMAL" property="fgDelete" />
    <result column="TD_BAT" jdbcType="TIMESTAMP" property="tdBat" />
    <result column="ID_USER_B" jdbcType="VARCHAR" property="idUserB" />
    <result column="ID_COMPUTER_B" jdbcType="VARCHAR" property="idComputerB" />
    <result column="ID_PG_B" jdbcType="VARCHAR" property="idPgB" />
    <result column="ID_USER_GOD_I" jdbcType="VARCHAR" property="idUserGodI" />
    <result column="ID_USER_GOD_U" jdbcType="VARCHAR" property="idUserGodU" />
    <result column="ID_USER_GOD_D" jdbcType="VARCHAR" property="idUserGodD" />
    <result column="ID_USER_GOD_B" jdbcType="VARCHAR" property="idUserGodB" />
    <result column="NM_KBN" jdbcType="VARCHAR" property="nmKbn" />
    <result column="KN_KBN" jdbcType="VARCHAR" property="knKbn" />
    <result column="NO_SORT" jdbcType="DECIMAL" property="noSort" />
    <result column="FG_LOCK" jdbcType="DECIMAL" property="fgLock" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID_SYSTEM, CD_KBN, KB, TD_INSERT, ID_USER_I, ID_COMPUTER_I, ID_PG_I, TD_UPDATE, ID_USER_U, 
    ID_COMPUTER_U, ID_PG_U, TD_DELETE, ID_USER_D, ID_COMPUTER_D, ID_PG_D, FG_DELETE, 
    TD_BAT, ID_USER_B, ID_COMPUTER_B, ID_PG_B, ID_USER_GOD_I, ID_USER_GOD_U, ID_USER_GOD_D, 
    ID_USER_GOD_B, NM_KBN, KN_KBN, NO_SORT, FG_LOCK
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from ZZ_TM050
    where ID_SYSTEM = #{idSystem,jdbcType=VARCHAR}
      and CD_KBN = #{cdKbn,jdbcType=VARCHAR}
      and KB = #{kb,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbg.generated-->
    delete from ZZ_TM050
    where ID_SYSTEM = #{idSystem,jdbcType=VARCHAR}
      and CD_KBN = #{cdKbn,jdbcType=VARCHAR}
      and KB = #{kb,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.we.estimate.Entity.ZzTm050">
    <!--@mbg.generated-->
    insert into ZZ_TM050 (ID_SYSTEM, CD_KBN, KB, 
      TD_INSERT, ID_USER_I, ID_COMPUTER_I, 
      ID_PG_I, TD_UPDATE, ID_USER_U, 
      ID_COMPUTER_U, ID_PG_U, TD_DELETE, 
      ID_USER_D, ID_COMPUTER_D, ID_PG_D, 
      FG_DELETE, TD_BAT, ID_USER_B, 
      ID_COMPUTER_B, ID_PG_B, ID_USER_GOD_I, 
      ID_USER_GOD_U, ID_USER_GOD_D, ID_USER_GOD_B, 
      NM_KBN, KN_KBN, NO_SORT, 
      FG_LOCK)
    values (#{idSystem,jdbcType=VARCHAR}, #{cdKbn,jdbcType=VARCHAR}, #{kb,jdbcType=VARCHAR}, 
      #{tdInsert,jdbcType=TIMESTAMP}, #{idUserI,jdbcType=VARCHAR}, #{idComputerI,jdbcType=VARCHAR}, 
      #{idPgI,jdbcType=VARCHAR}, #{tdUpdate,jdbcType=TIMESTAMP}, #{idUserU,jdbcType=VARCHAR}, 
      #{idComputerU,jdbcType=VARCHAR}, #{idPgU,jdbcType=VARCHAR}, #{tdDelete,jdbcType=TIMESTAMP}, 
      #{idUserD,jdbcType=VARCHAR}, #{idComputerD,jdbcType=VARCHAR}, #{idPgD,jdbcType=VARCHAR}, 
      #{fgDelete,jdbcType=DECIMAL}, #{tdBat,jdbcType=TIMESTAMP}, #{idUserB,jdbcType=VARCHAR}, 
      #{idComputerB,jdbcType=VARCHAR}, #{idPgB,jdbcType=VARCHAR}, #{idUserGodI,jdbcType=VARCHAR}, 
      #{idUserGodU,jdbcType=VARCHAR}, #{idUserGodD,jdbcType=VARCHAR}, #{idUserGodB,jdbcType=VARCHAR}, 
      #{nmKbn,jdbcType=VARCHAR}, #{knKbn,jdbcType=VARCHAR}, #{noSort,jdbcType=DECIMAL}, 
      #{fgLock,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.we.estimate.Entity.ZzTm050">
    <!--@mbg.generated-->
    insert into ZZ_TM050
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idSystem != null">
        ID_SYSTEM,
      </if>
      <if test="cdKbn != null">
        CD_KBN,
      </if>
      <if test="kb != null">
        KB,
      </if>
      <if test="tdInsert != null">
        TD_INSERT,
      </if>
      <if test="idUserI != null">
        ID_USER_I,
      </if>
      <if test="idComputerI != null">
        ID_COMPUTER_I,
      </if>
      <if test="idPgI != null">
        ID_PG_I,
      </if>
      <if test="tdUpdate != null">
        TD_UPDATE,
      </if>
      <if test="idUserU != null">
        ID_USER_U,
      </if>
      <if test="idComputerU != null">
        ID_COMPUTER_U,
      </if>
      <if test="idPgU != null">
        ID_PG_U,
      </if>
      <if test="tdDelete != null">
        TD_DELETE,
      </if>
      <if test="idUserD != null">
        ID_USER_D,
      </if>
      <if test="idComputerD != null">
        ID_COMPUTER_D,
      </if>
      <if test="idPgD != null">
        ID_PG_D,
      </if>
      <if test="fgDelete != null">
        FG_DELETE,
      </if>
      <if test="tdBat != null">
        TD_BAT,
      </if>
      <if test="idUserB != null">
        ID_USER_B,
      </if>
      <if test="idComputerB != null">
        ID_COMPUTER_B,
      </if>
      <if test="idPgB != null">
        ID_PG_B,
      </if>
      <if test="idUserGodI != null">
        ID_USER_GOD_I,
      </if>
      <if test="idUserGodU != null">
        ID_USER_GOD_U,
      </if>
      <if test="idUserGodD != null">
        ID_USER_GOD_D,
      </if>
      <if test="idUserGodB != null">
        ID_USER_GOD_B,
      </if>
      <if test="nmKbn != null">
        NM_KBN,
      </if>
      <if test="knKbn != null">
        KN_KBN,
      </if>
      <if test="noSort != null">
        NO_SORT,
      </if>
      <if test="fgLock != null">
        FG_LOCK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idSystem != null">
        #{idSystem,jdbcType=VARCHAR},
      </if>
      <if test="cdKbn != null">
        #{cdKbn,jdbcType=VARCHAR},
      </if>
      <if test="kb != null">
        #{kb,jdbcType=VARCHAR},
      </if>
      <if test="tdInsert != null">
        #{tdInsert,jdbcType=TIMESTAMP},
      </if>
      <if test="idUserI != null">
        #{idUserI,jdbcType=VARCHAR},
      </if>
      <if test="idComputerI != null">
        #{idComputerI,jdbcType=VARCHAR},
      </if>
      <if test="idPgI != null">
        #{idPgI,jdbcType=VARCHAR},
      </if>
      <if test="tdUpdate != null">
        #{tdUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="idUserU != null">
        #{idUserU,jdbcType=VARCHAR},
      </if>
      <if test="idComputerU != null">
        #{idComputerU,jdbcType=VARCHAR},
      </if>
      <if test="idPgU != null">
        #{idPgU,jdbcType=VARCHAR},
      </if>
      <if test="tdDelete != null">
        #{tdDelete,jdbcType=TIMESTAMP},
      </if>
      <if test="idUserD != null">
        #{idUserD,jdbcType=VARCHAR},
      </if>
      <if test="idComputerD != null">
        #{idComputerD,jdbcType=VARCHAR},
      </if>
      <if test="idPgD != null">
        #{idPgD,jdbcType=VARCHAR},
      </if>
      <if test="fgDelete != null">
        #{fgDelete,jdbcType=DECIMAL},
      </if>
      <if test="tdBat != null">
        #{tdBat,jdbcType=TIMESTAMP},
      </if>
      <if test="idUserB != null">
        #{idUserB,jdbcType=VARCHAR},
      </if>
      <if test="idComputerB != null">
        #{idComputerB,jdbcType=VARCHAR},
      </if>
      <if test="idPgB != null">
        #{idPgB,jdbcType=VARCHAR},
      </if>
      <if test="idUserGodI != null">
        #{idUserGodI,jdbcType=VARCHAR},
      </if>
      <if test="idUserGodU != null">
        #{idUserGodU,jdbcType=VARCHAR},
      </if>
      <if test="idUserGodD != null">
        #{idUserGodD,jdbcType=VARCHAR},
      </if>
      <if test="idUserGodB != null">
        #{idUserGodB,jdbcType=VARCHAR},
      </if>
      <if test="nmKbn != null">
        #{nmKbn,jdbcType=VARCHAR},
      </if>
      <if test="knKbn != null">
        #{knKbn,jdbcType=VARCHAR},
      </if>
      <if test="noSort != null">
        #{noSort,jdbcType=DECIMAL},
      </if>
      <if test="fgLock != null">
        #{fgLock,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.estimate.Entity.ZzTm050">
    <!--@mbg.generated-->
    update ZZ_TM050
    <set>
      <if test="tdInsert != null">
        TD_INSERT = #{tdInsert,jdbcType=TIMESTAMP},
      </if>
      <if test="idUserI != null">
        ID_USER_I = #{idUserI,jdbcType=VARCHAR},
      </if>
      <if test="idComputerI != null">
        ID_COMPUTER_I = #{idComputerI,jdbcType=VARCHAR},
      </if>
      <if test="idPgI != null">
        ID_PG_I = #{idPgI,jdbcType=VARCHAR},
      </if>
      <if test="tdUpdate != null">
        TD_UPDATE = #{tdUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="idUserU != null">
        ID_USER_U = #{idUserU,jdbcType=VARCHAR},
      </if>
      <if test="idComputerU != null">
        ID_COMPUTER_U = #{idComputerU,jdbcType=VARCHAR},
      </if>
      <if test="idPgU != null">
        ID_PG_U = #{idPgU,jdbcType=VARCHAR},
      </if>
      <if test="tdDelete != null">
        TD_DELETE = #{tdDelete,jdbcType=TIMESTAMP},
      </if>
      <if test="idUserD != null">
        ID_USER_D = #{idUserD,jdbcType=VARCHAR},
      </if>
      <if test="idComputerD != null">
        ID_COMPUTER_D = #{idComputerD,jdbcType=VARCHAR},
      </if>
      <if test="idPgD != null">
        ID_PG_D = #{idPgD,jdbcType=VARCHAR},
      </if>
      <if test="fgDelete != null">
        FG_DELETE = #{fgDelete,jdbcType=DECIMAL},
      </if>
      <if test="tdBat != null">
        TD_BAT = #{tdBat,jdbcType=TIMESTAMP},
      </if>
      <if test="idUserB != null">
        ID_USER_B = #{idUserB,jdbcType=VARCHAR},
      </if>
      <if test="idComputerB != null">
        ID_COMPUTER_B = #{idComputerB,jdbcType=VARCHAR},
      </if>
      <if test="idPgB != null">
        ID_PG_B = #{idPgB,jdbcType=VARCHAR},
      </if>
      <if test="idUserGodI != null">
        ID_USER_GOD_I = #{idUserGodI,jdbcType=VARCHAR},
      </if>
      <if test="idUserGodU != null">
        ID_USER_GOD_U = #{idUserGodU,jdbcType=VARCHAR},
      </if>
      <if test="idUserGodD != null">
        ID_USER_GOD_D = #{idUserGodD,jdbcType=VARCHAR},
      </if>
      <if test="idUserGodB != null">
        ID_USER_GOD_B = #{idUserGodB,jdbcType=VARCHAR},
      </if>
      <if test="nmKbn != null">
        NM_KBN = #{nmKbn,jdbcType=VARCHAR},
      </if>
      <if test="knKbn != null">
        KN_KBN = #{knKbn,jdbcType=VARCHAR},
      </if>
      <if test="noSort != null">
        NO_SORT = #{noSort,jdbcType=DECIMAL},
      </if>
      <if test="fgLock != null">
        FG_LOCK = #{fgLock,jdbcType=DECIMAL},
      </if>
    </set>
    where ID_SYSTEM = #{idSystem,jdbcType=VARCHAR}
      and CD_KBN = #{cdKbn,jdbcType=VARCHAR}
      and KB = #{kb,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.estimate.Entity.ZzTm050">
    <!--@mbg.generated-->
    update ZZ_TM050
    set TD_INSERT = #{tdInsert,jdbcType=TIMESTAMP},
      ID_USER_I = #{idUserI,jdbcType=VARCHAR},
      ID_COMPUTER_I = #{idComputerI,jdbcType=VARCHAR},
      ID_PG_I = #{idPgI,jdbcType=VARCHAR},
      TD_UPDATE = #{tdUpdate,jdbcType=TIMESTAMP},
      ID_USER_U = #{idUserU,jdbcType=VARCHAR},
      ID_COMPUTER_U = #{idComputerU,jdbcType=VARCHAR},
      ID_PG_U = #{idPgU,jdbcType=VARCHAR},
      TD_DELETE = #{tdDelete,jdbcType=TIMESTAMP},
      ID_USER_D = #{idUserD,jdbcType=VARCHAR},
      ID_COMPUTER_D = #{idComputerD,jdbcType=VARCHAR},
      ID_PG_D = #{idPgD,jdbcType=VARCHAR},
      FG_DELETE = #{fgDelete,jdbcType=DECIMAL},
      TD_BAT = #{tdBat,jdbcType=TIMESTAMP},
      ID_USER_B = #{idUserB,jdbcType=VARCHAR},
      ID_COMPUTER_B = #{idComputerB,jdbcType=VARCHAR},
      ID_PG_B = #{idPgB,jdbcType=VARCHAR},
      ID_USER_GOD_I = #{idUserGodI,jdbcType=VARCHAR},
      ID_USER_GOD_U = #{idUserGodU,jdbcType=VARCHAR},
      ID_USER_GOD_D = #{idUserGodD,jdbcType=VARCHAR},
      ID_USER_GOD_B = #{idUserGodB,jdbcType=VARCHAR},
      NM_KBN = #{nmKbn,jdbcType=VARCHAR},
      KN_KBN = #{knKbn,jdbcType=VARCHAR},
      NO_SORT = #{noSort,jdbcType=DECIMAL},
      FG_LOCK = #{fgLock,jdbcType=DECIMAL}
    where ID_SYSTEM = #{idSystem,jdbcType=VARCHAR}
      and CD_KBN = #{cdKbn,jdbcType=VARCHAR}
      and KB = #{kb,jdbcType=VARCHAR}
  </update>
</mapper>